<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{usuario.apellido}}, {{usuario.nombre}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{usuario.mail}}</h6>
    <p class="card-text">Tel.: {{usuario.telefono}}</p>
    <p class="card-text">Direccion: {{usuario.direccion}}</p>
    <p class="card-text">Fecha de inicio: {{usuario.ts_create}}</p>
    <a href="/usuarios/edit" class="btn btn-primary">Editar</a>
  </div>
</div>